.App {
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #e5ddd5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-header {
  background-color: #007bff;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-logo {
  height: 50px;
  margin-right: 10px; 
  border-radius: 8px;
}

.app-header h1 {
  margin: 0;
  font-size: 24px;
}

.chat-window {
  background-color: #ffffff;
  width: 350px;
  height: 600px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.messages {
  flex: 1;
  overflow-y: scroll;
  padding: 10px;
}

.message {
  margin: 5px 0;
  padding: 8px 12px;
  border-radius: 20px;
  max-width: 70%;
  word-wrap: break-word;
  margin-bottom: 10px; 
}

.user {
  align-self: flex-end;
  background-color: #dcf8c6;
  text-align: right;
  margin-left: auto;
}

.bot {
  align-self: flex-start;
  background-color: #ececec;
  text-align: left;
}

.input-container {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
  background-color: #f5f5f5;
}

input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 16px;
}

input:focus {
  outline: none;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #34b7f1;
  color: white;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  background-color: #2196f3;
}
